@import '../../style/mixins/index';

// mixins for grid system
// ------------------------
@mixin make-row($gutter: $grid-gutter-width) {
  position: relative;
  height: auto;
  margin-right: ($gutter / -2);
  margin-left: ($gutter / -2);
  @include clearfix;
}

@function make-columns-selector($index) {
  @return '.#{$ant-prefix}-col-#{$index}, .#{$ant-prefix}-col-xs-#{$index}, .#{$ant-prefix}-col-sm-#{$index}, .#{$ant-prefix}-col-md-#{$index}, .#{$ant-prefix}-col-lg-#{$index}';
}

@mixin make-grid-columns() {
  $list: make-columns-selector(1);
  @for $i from 2 through $grid-columns {
    $list: '#{$list}, #{make-columns-selector($i)}';
  }
  
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
  }
}

@function make-float-columns-selector($class, $index) {
  @return '.#{$ant-prefix}-col#{$class}-#{$index}';
}

@mixin float-grid-columns($class) {
  $list: make-float-columns-selector($class, 1);
  @for $i from 2 through $grid-columns {
    $list: '#{$list}, #{make-float-columns-selector($class, $i)}';
  }

  #{$list} {
    flex: 0 0 auto;
    float: left;
  }
}

@mixin loop-grid-columns($index, $class) {
  @for $i from $index through 0 {
    @if $i > 0 {
      .#{$ant-prefix}-col#{$class}-#{$i} {
        display: block;
        box-sizing: border-box;
        width: percentage(($i / $grid-columns));
      }
      .#{$ant-prefix}-col#{$class}-push-#{$i} {
        left: percentage(($i / $grid-columns));
      }
      .#{$ant-prefix}-col#{$class}-pull-#{$i} {
        right: percentage(($i / $grid-columns));
      }
      .#{$ant-prefix}-col#{$class}-offset-#{$i} {
        margin-left: percentage(($i / $grid-columns));
      }
      .#{$ant-prefix}-col#{$class}-order-#{$i} {
        order: $i;
      }
    } @else {
      .#{$ant-prefix}-col#{$class}-#{$i} {
        display: none;
      }
      .#{$ant-prefix}-col-push-#{$i} {
        left: auto;
      }
      .#{$ant-prefix}-col-pull-#{$i} {
        right: auto;
      }
      .#{$ant-prefix}-col#{$class}-push-#{$i} {
        left: auto;
      }
      .#{$ant-prefix}-col#{$class}-pull-#{$i} {
        right: auto;
      }
      .#{$ant-prefix}-col#{$class}-offset-#{$i} {
        margin-left: 0;
      }
      .#{$ant-prefix}-col#{$class}-order-#{$i} {
        order: 0;
      }
    }
  }
}

@mixin make-grid($class: '') {
  @include float-grid-columns($class);
  @include loop-grid-columns($grid-columns, $class);
}
